<h1 class="mb-4">Cadastrar Novo Endereço</h1>

<form action="/enderecos" method="POST">
    

    <div class="form-group mb-3">
        <label for="rua">Rua</label>
        <input type="text" class="form-control" id="rua" name="rua" required>
    </div>

    <div class="form-group mb-3">
        <label for="numero">Número</label>
        <input type="text" class="form-control" id="numero" name="numero">
    </div>

    <div class="form-group mb-3">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento">
    </div>

    <div class="form-group mb-3">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro">
    </div>

    <div class="form-group mb-3">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade">
    </div>

    <div class="form-group mb-3">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado">
    </div>

    <div class="form-group mb-4">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep">
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
